.DS_Store
*.iml
*/*.iml
*/**/*.iml
target
.idea
.idea/.name
.idea/workspace.xml
.idea/tasks.xml
.idea/encodings.xml
.idea/modules.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/runConfigurations/QuickStart.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Serializable.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/uiDesigner.xml
.idea/libraries/Maven__*
.idea/artifacts
atlassian-ide-plugin.xml
.project
.classpath
.settings
application.ipr
application.iws
