<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="Rich Text Editor Example"
               description="An example of using TinyMCE to provide a rich text editor UI in an app."
               author="Scott Becker"
               author_affiliation="Jive Software"
               author_email="scott.becker@jivesoftware.com"
               height="475"
               thumbnail="https://apphosting.jivesoftware.com/apps/dev/tinymce_example/images/thumbnail.png"
               screenshot="https://apphosting.jivesoftware.com/apps/dev/tinymce_example/images/screenshot.png">

    <!-- Commonly used features -->
    <Require feature="dynamic-height" />
    <Require feature="jive-core-v2" />
    <Require feature="osapi"/>
    <Require feature="settitle"/>
    <Require feature="views" />

    <!-- Icons - 3 sizes, 16x16, 48x48, 128x128 -->
    <Link rel="Icon"       href="https://apphosting.jivesoftware.com/apps/dev/tinymce_example/images/icon16.png" />
    <Link rel="MediumIcon" href="https://apphosting.jivesoftware.com/apps/dev/tinymce_example/images/icon48.png" />
    <Link rel="LargeIcon"  href="https://apphosting.jivesoftware.com/apps/dev/tinymce_example/images/icon128.png" />

  </ModulePrefs>

  <Content type="html" view="home,canvas" href="canvas.html" />

</Module>
