<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Copyright 2011 Jive Software
   -
   - Licensed under the Apache License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   -
   -    http://www.apache.org/licenses/LICENSE-2.0
   -
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License.
  -->
<Module>
    <ModulePrefs title="Group Management Example"
                author="Jive Software"
           description="Manage the social groups on this Jive instance">
        <Link rel="Icon" href="group-icon.png"/>
        <Require feature="dynamic-height"/>
        <Require feature="jive-core-v2"/>
        <Require feature="jquery-1.4.2"/>
        <Require feature="minimessage"/>
        <Require feature="osapi"/>
        <Require feature="views"/>
    </ModulePrefs>
    <Content view="home, canvas" type="html" href="group-management.html"/>
</Module>
