<?xml version="1.0" encoding="UTF-8"?>
<Module>
    <ModulePrefs title="Quotes Approval"
                author="Jive Software"
           description="Manage pending sales quotations">
        <Link rel="Icon" href="wiretransfer_16x16.png"/>
        <Link rel="MediumIcon" href="wiretransfer_48x48.png"/>
        <Link rel="LargeIcon" href="wiretransfer_128x128.png"/>
        <Require feature="jive-connects-v1">
            <Param name="alias:quotes|title:Quotes Service">jive:service://jivesoftware.com/demo/quotes?version=1</Param>
        </Require>
        <Require feature="jive-core-v2"/>
        <Require feature="dynamic-height"/>
        <Require feature="minimessage"/>
        <Require feature="views"/>
        <Require feature="content-rewrite">
            <Param name="include-url">*.gif</Param>
            <Param name="include-uri">*.png</Param>
        </Require>
    </ModulePrefs>
    <Content view="home" type="html" href="quotes_home.html"/>
    <Content view="canvas" type="html" href="quotes_canvas.html"/>
</Module>
