<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="TileTargets"
               description="Easily configure Jive tile end-points to push data into your Jive platform."
               author="Ryan Rutan"
               author_affiliation="Jive Software (Open Source)"
               author_email="ryan.rutan@jivesoftware.com">
    

        <Link rel="Icon"       href="images/icon16.png" />
        <Link rel="MediumIcon" href="images/icon48.png" />
        <Link rel="LargeIcon"  href="images/icon128.png" />

        <Link rel="Screenshot1" href="images/screenshot01.png" />
        <Link rel="Screenshot2" href="images/screenshot02.png" />
        <Link rel="Screenshot3" href="images/screenshot03.png" />
        <Link rel="Screenshot4" href="images/screenshot04.png" />

	    <Require feature="dynamic-height" />
  		<Require feature="settitle"/>
	  	<Require feature="views" />
      <Require feature="embedded-experiences" />
      <Require feature="jquery-1.6"/>
      <Require feature="osapi"/>
      <Require feature="opensocial-data"/>
      <Require feature="jive-core-v3"/>
      <Require feature="jive-core-v3-resolver"/>
      <Require feature="actions">
        <Param name="action-contributions">            
          <!-- TODO:  NEED TO FILTER BY SYSTEM ADMIN / PLACE ADMIN / OR USER PROPERTY ????-->
          <![CDATA[

                    <action id="com.jivesoftware.addon.tiletargets.project.config"
                          path="jive/settings/places/project"
                          label="Configure TileTargets Access"
                          view="tiletargets-place-config"
                          icon="images/icon16.png" />

                    <action id="com.jivesoftware.addon.tiletargets.group.config"
                          path="jive/settings/places/group"
                          label="Configure TileTargets Access"
                          view="tiletargets-place-config"
                          icon="images/icon16.png" />

                    <action id="com.jivesoftware.addon.tiletargets.space.config"
                          path="jive/settings/places/space"
                          label="Configure TileTargets Access"
                          view="tiletargets-place-config"
                          icon="images/icon16.png" />

					<action id="com.jivesoftware.addon.tiletargets.space.tab"
						  path="jive/tabs/places/space?filter=exists(context.extprops.tileTargetsPresent)"
						  label="TileTargets"
						  view="tiletargets-place-tab" />

					<action id="com.jivesoftware.addon.tiletargets.group.tab"
						  path="jive/tabs/places/group?filter=exists(context.extprops.tileTargetsPresent)"
						  label="TileTargets"
						  view="tiletargets-place-tab" />                          

					<action id="com.jivesoftware.addon.tiletargets.project.tab"
						  path="jive/tabs/places/project?filter=exists(context.extprops.tileTargetsPresent)"
						  label="TileTargets"
						  view="tiletargets-place-tab" />

          ]]> 
        </Param>  
	</Require>

  </ModulePrefs>

  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->
  <Content type="html" view="home,canvas" href="canvas.html" preferred_height="400" />
  <Content type="html" view="tiletargets-place-tab" href="place-tab.html" preferred_height="400" />
  <Content type="html" view="tiletargets-place-config"':=ce-tab.html" preferred_height="400" />

</Module>