  body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  #update_form {
    margin: 5px;
    background: #f6f6f6;
    border: 1px solid #ccc;
    padding: 3px;
  }

  #update_form p {
    margin: 0;
  }

  #update_entry {
    width: 95%;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 18px;
    padding: 3px;
  }

  #updates {
    margin: 5px;
    padding: 3px;
    overflow: auto;
  }

  #updates h3 {
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
  }

  #recent_updates {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #recent_updates li {
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    padding: 6px 0;
  }