<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~      Copyright 2013 Jive Software
  ~
  ~      Licensed under the Apache License, Version 2.0 (the "License");
  ~      you may not use this file except in compliance with the License.
  ~      You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~      Unless required by applicable law or agreed to in writing, software
  ~      distributed under the License is distributed on an "AS IS" BASIS,
  ~      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~      See the License for the specific language governing permissions and
  ~      limitations under the License.
  -->

<Module specificationVersion="1">
  <ModulePrefs title="Wikipedia"
               description="Inserts links to Wikipedia"
               author="Erskine Williams"
               author_affiliation="Jive Software"
               author_email="erskine@jivesoftware.com">

    <!-- Commonly used features -->
    <Require feature="dynamic-height" />
	<Require feature="dynamic-width" />
    <Require feature="jive-core-v2" />
    <Require feature="osapi"/>
    <Require feature="settitle"/>
    <Require feature="jive-opensocial-ext-v1" />
    <Require feature="views" />
	<Require feature="selection" />
	<Require feature="embedded-experiences" />
	<Require feature="actions">
    	<Param name="action-contributions">
            <![CDATA[
            <action id="com.jivesoftware.rte.wikipedia"
                    path="jive/actions/rte"
                    label="Insert Wikipedia Link"
                    view="embedded.search"
		    		icon="images/icon16.png"/>
            <action id="com.jivesoftware.rte.wikipedia.global"
                    path="jive/actions/global"
                    label="Search Wikipedia"
                    view="embedded.global"
		    		icon="images/icon16.png"/>
            ]]>
        </Param>
    </Require>

    <!-- Icons: 3 sizes, 16x16, 48x48, 128x128 -->
    <Link rel="Icon"       href="images/icon16.png" />
    <Link rel="MediumIcon" href="images/icon48.png" />
    <Link rel="LargeIcon"  href="images/icon128.png" />

    <!-- Screenshots: 600w x 400h, should include at least 1 and up to 5 -->
    <Link rel="Screenshot1" href="images/Screen1.png" />
    <Link rel="Screenshot2" href="images/Screen2.png" />
    <Link rel="Screenshot3" href="images/Screen3.png" />
    <Link rel="Screenshot4" href="images/Screen4.png" />

    <!-- Preloaded Content: http://wiki.opensocial.org/index.php?title=Remote_Data_Requests_%28v0.9%29#Preloading_data -->
    <!--
    <Preload href="http://www.example.com" />
    -->

  </ModulePrefs>


  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->
  <Content type="html" view="home,canvas" href="canvas.html"/>
  <Content type="html" view="embedded.search" href="search.html" preferred_width="475" preferred_height="260"/>
  <Content type="html" view="embedded.global" href="global.html" preferred_width="475" preferred_height="260"/>
  <Content type="html" view="embedded" href="view.html" preferred_width="475" preferred_height="260"/>



</Module>
